[submodule "plugins/python"]
	path = plugins/python
	url = ./.repos/tinyide-python
[submodule "plugins/python-venv"]
	path = plugins/python-venv
	url = ./.repos/tinyide-python-venv
[submodule "plugins/terminal"]
	path = plugins/terminal
	url = ./.repos/tinyide-terminal
[submodule "plugins/git"]
	path = plugins/git
	url = ./.repos/tinyide-git
[submodule "plugins/javascript"]
	path = plugins/javascript
	url = ./.repos/tinyide-javascript
[submodule "plugins/node-runtime"]
	path = plugins/node-runtime
	url = ./.repos/tinyide-node-runtime
