[submodule "plugins/python"]
	path = plugins/python
	url = git@github.com:alexsilva/tinyide.python.git
[submodule "plugins/python-venv"]
	path = plugins/python-venv
	url = git@github.com:alexsilva/tinyide.python-venv.git
[submodule "plugins/terminal"]
	path = plugins/terminal
	url = git@github.com:alexsilva/tinyide.terminal.git
[submodule "plugins/git"]
	path = plugins/git
	url = git@github.com:alexsilva/tinyide.git.vcs.git
[submodule "plugins/javascript"]
	path = plugins/javascript
	url = git@github.com:alexsilva/tinyide.javascript.git
[submodule "plugins/node-runtime"]
	path = plugins/node-runtime
	url = git@github.com:alexsilva/tinyide.node-runtime.git
[submodule "plugins/docker"]
	path = plugins/docker
	url = git@github.com:alexsilva/tinyide.docker.git
[submodule "plugins/search"]
	path = plugins/search
	url = git@github.com:alexsilva/tinyide.search.git
[submodule "plugins/pytest"]
	path = plugins/pytest
	url = git@github.com:alexsilva/tinyide.pytest.git
[submodule "plugins/pytest"]
	path = plugins/pytest
	url = git@github.com:alexsilva/tinyide.pytest.git
